@page
@using Prototype.Data
@model SpecialElection.Areas.Special.Pages.RaceView.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Race</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Race.Id" />
            <div class="form-group">
                <label asp-for="Race.Name" class="control-label"></label>
                <input asp-for="Race.Name" class="form-control" />
                <span asp-validation-for="Race.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Race.Description" class="control-label"></label>
                <input asp-for="Race.Description" class="form-control" />
                <span asp-validation-for="Race.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Race.Type" class="control-label"></label>
                <select asp-for="Race.Type" asp-items="Html.GetEnumSelectList<RaceTypeEnum>()">
                    <option selected="selected" value="">Please select a race type</option>
                </select>
                <span asp-validation-for="Race.Type" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="ElectionType" class="control-label"></label>
                <input readonly asp-for="ElectionType" class="form-control" value="@Model.ElectionType" />
                <span asp-validation-for="ElectionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Race.District" class="control-label"></label>
                <input asp-for="Race.District" class="form-control" />
                <span asp-validation-for="Race.District" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Race.Locked" /> @Html.DisplayNameFor(model => model.Race.Locked)
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Election.Name)</label>
                <input type="hidden" asp-for="Race.ElectionId" value="@Model.Race.ElectionId" />
                <input readonly class="form-control" value="@Model.Election.Name" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Election/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
