@page
@model SpecialElection.ManageUsersModel
@{ 
    
    ViewData["Title"] = "Manage Users";
}
<h1>ManageUsers</h1>


<p>
    <a asp-page="Register">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUsers[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUsers[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUsers[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUsers[0].IsAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ApplicationUsers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
                <td>
                    <a asp-page="./SetPassword" asp-route-id="@item.Id">Set Password</a> |
                    <a asp-page="./DeleteUser" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
